*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #230043;
}

.alerta_erro{
    z-index: 3;
}

body{
    background: #1A0230;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltar{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50px;
    top: 50px;
}

.SBV{
    position: absolute;
    height: 100px;
    width: 340px;
    position: absolute;
    left: 150px;
    top: 100px;
    color: #00ff88;
}

.login{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campo{
    margin-top: 15px;
    margin-left: 9px;
    display: flex;
    flex-direction: column;
}

.inputs{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background: #ffffff23;
    padding: 7px;
    color: #fff;
}

.inputs:focus{  
    outline: 0;
    border: 0;
}

span{
    margin-bottom: 15px;
    color: #fff;
}

a{
    text-decoration: none;
    font-size: 8px;
}

h1{
    margin-top: 10px;
    transition: 500ms;
    color: #fff;
}

h1:hover{
    color: #260770;
}

h2{
    color: #00ff88;
    font-size: 50px;
}

.botao{
    margin-top: 50px;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #00ff88;
    transition: 900ms;
    font-size: 20px;
}

.botao:hover{
    cursor: pointer;
    background: #0c6139;
    color: #fff;
}

::placeholder{
    color: #fff;
    text-align: center;
}

.voltarH1{
    color: #000;
    position: absolute;
    left: 7px;
    top: 10px;
}
