*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #797575;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.login{
    background: #db3636;
    width: 100vw;
    height: 100vh;
}