* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
  background: #1d0446c4;
  display: flex;
  justify-content: center;
  align-items: center;

}

header {
  width: 100%;
  height: 12%;
  background: rgba(24, 20, 20, 0.425);
  backdrop-filter: blur(19.5px);
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-top: -540px;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  ;
  justify-content: space-evenly;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin-left: 250px;
}

li {
  text-decoration: none;
  list-style: none;
  margin-right: 15px;
  margin-left: 10px;
}

.links {
  text-decoration: none;
  color: #ffff;
  transition: 400ms;
  font-size: 16px;
}

.links:hover {
  margin-top: -5px;
  border-bottom: 1px solid #68228B;
}

.logo {
  width: 150px;
  margin-left: 20px;
  height: 70px;
  margin-top: 5px;
}

img {
  width: 220px;
  height: 150px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #FFC700;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 15px;
}


.btn-logout {
  margin-left: 40px;
  padding: 0;
  width: 20%;
  color: #f3cd23;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 500ms;
}

.btn-logout:hover {
  color: #68228B;
}

#container {
  background: rgba(24, 6, 94, 0.445);
  width: 80%;
  height: 84%;
  margin-top: 80px;
  border-radius: 0px 10px 10px 0px;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 2px 5px 2px #212124;
}

.lateral {
  background: rgba(24, 6, 94, 0.445);
  width: 20%;
  height: 100%;
  border-right: 2px solid #FFC700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnPeso{
  width: 150px;
  height: 50px;
  margin-top: 160px;
  border: none;
  border-radius: 25px;
  transition: 500ms;
  background: #f3cd23;
  color: #13083a;
}

.btnPeso:hover{
  background: #000000a4;
  cursor: pointer;
  color: #FFF;
}

.btnAmbos{
  width: 150px;
  height: 50px;
  margin-top: 5px;
  border: none;
  border-radius: 25px;
  transition: 500ms;
  background: #f3cd23;
  color: #13083a;
}

.btnAmbos:hover{
  background: #000000a4;
  cursor: pointer;
  color: #FFF;
}

#GraficoBarras {
  width: 20%;
  height: 10%;
}

canvas {
  Width: 55% !important;
  Height: 55% !important;
  position: absolute;
  left: 30%;
  top: 35%;
}