*{
    padding: 0;
    margin: 0;
    font-family: "Teachers", sans-serif;
    color: #230043;
}

body{
    background: #1A0230;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltar{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50px;
    top: 50px;
}

.login{
    width: 95vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.inputs{
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background: #ffffff27;
    color: #fff;
    padding: 5px;
}

.inputs:focus{
    outline: 0;
    border: 0;
}

span{
    color: #fff;
}

a{
    text-decoration: none;
    font-size: 8px;
}
h1{
    margin-left: 65px;
    margin-top: 10px;
    transition: 500ms;
    color: #fff;
}

h1:hover{
    color: #6a35af;
}

h2{
    margin-bottom: 20px;
    margin-left: 90px;
    color: #00ff88;
    font-size: 50px;
}

.botao{
    margin-top: 50px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #00ff88;
    transition: 900ms;
    font-size: 20px;
}

.botao:hover{
    cursor: pointer;
    background: #0c6139;
    color: #fff;
}

::placeholder{
    color: #fff;
    text-align: center;
}

.voltarH1{
    color: #000;
    position: absolute;
    left: -58px;
    top: 10px;
}
